@font-face {
	font-family: "my-icons";
	src: url("my-icons.eot?318a43d1081ca2fb9f8968b5f80a016e?#iefix") format("embedded-opentype"),
url("my-icons.woff2?318a43d1081ca2fb9f8968b5f80a016e") format("woff2"),
url("my-icons.woff?318a43d1081ca2fb9f8968b5f80a016e") format("woff");
}

.my-icon {
	line-height: 1;
}

.my-icon:before {
	font-family: my-icons !important;
	font-style: normal;
	font-weight: normal !important;
	vertical-align: top;
}

.my-icon-btn_back:before {
	content: "\f101";
}
.my-icon-down_arrow:before {
	content: "\f102";
}
.my-icon-hexagon_fill:before {
	content: "\f103";
}
.my-icon-hexagon_half:before {
	content: "\f104";
}
.my-icon-hexagon_line:before {
	content: "\f105";
}
.my-icon-pen:before {
	content: "\f106";
}
.my-icon-search:before {
	content: "\f107";
}
.my-icon-siren:before {
	content: "\f108";
}
